<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openquartz.easyfile.example.mapper.SchoolMapper">
    <sql id="Base_Column_List">
        id,
        `name`,
        grade
    </sql>
    <resultMap id="BaseResultMap" type="com.openquartz.easyfile.example.model.School">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="grade" property="grade"/>
    </resultMap>

    <insert id="insertSelective">
        INSERT INTO test_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="grade != null and grade != ''">
                grade
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="grade != null and grade != ''">
                #{grade}
            </if>
        </trim>
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_school
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_school
        where id = #{id}
    </select>

    <select id="selectByIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_school
        where id in
        <foreach collection="idList" index="index" open="(" close=")" item="item" separator="," nullable="false">
            #{item}
        </foreach>
    </select>
</mapper>