<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/easyfile-ui/static/layui/css/layui.css">
    <script src="/easyfile-ui/static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">EasyFile Admin</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
            </li>
            <li class="layui-nav-item"><a href="/easyfile-ui/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a th:accesskey="table">下载任务</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="home" frameborder="0" name="content" width="100%" height="100%"></iframe>
    </div>

    <div class="layui-footer">
        © svnee &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://github.com/svnlab/easy-file"><b>Github</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://gitee.com/svnee/easy-file"><b>Gitee</b></a>
    </div>
</div>
<script src="/easyfile-ui/static/js/index.js"></script>
</body>
</html>