<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" href="/easyfile-ui/static/layui/css/layui.css">
    <link rel="stylesheet" href="/easyfile-ui/static/css/style.css">
</head>
<body>

<div class="login-main">
    <header class="layui-elip">登录</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="checkbox" name="rememberMe" lay-skin="switch" lay-text="ON|OFF" value="on">记住我
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="login" class="layui-btn">登录</button>
        </div>
        <hr/>
    </form>
</div>


<script src="/easyfile-ui/static/layui/layui.js"></script>
<script type="text/javascript">
  layui.use(['form', 'layer', 'jquery'], function () {

    // 操作对象
    var form = layui.form;
    var $ = layui.jquery;
    form.on('submit(login)', function (data) {

      console.log(JSON.stringify(data.field));

      $.ajax({
        type: 'POST',
        url: '/easyfile-ui/login',
        data: JSON.stringify(data.field),
        contentType: 'application/json',
        success: function (result, status, xhr) {
          if (result.success) {
            location.href = "/easyfile-ui/";
          } else {
            layer.msg('登录失败!失败原因:' + result.message);
          }
        },
        error: function (xhr, status, error) {
          layer.msg('登录失败!' + error);
        },
        dataType: 'json'
      });

      return false;
    });
  });
</script>
</body>
</html>